<header>

      <h1 class="site-title"><a href="/">D<i class="fa fa-paw" aria-hidden="true"></i>GGR</a></h1>

      <aside class="search-container">

        <button id="search-button" class="action-button"><i class="fa fa-search" aria-hidden="true"></i></button>

        <div class="search-input-container">
          <input type="text" name="search-text" id="search-text" class="search-input" placeholder="Search">
        </div>

      </aside>

      <aside class="upload-button-container">
        <button id="upload-button" class="action-button"><i class="fa fa-cloud-upload" aria-hidden="true"></i>Upload</button>
      </aside>

    </header>

    <aside class="below-header-container">

      <button id="most-loved-button" class="action-button">Most Loved<i class="fa fa-heart" aria-hidden="true"></i></button>

      <div class="popular-tags-container">
        <h3>Popular Searches:</h3>
        <a href="#" class="popular-tag">Pupper</a>
        <a href="#" class="popular-tag">Cute</a>
        <a href="#" class="popular-tag">Playful</a>
          <a href="#" class="popular-tag">Good Dog</a>
      </div>

    </aside>

</header>
