 <div class="photo-container">
          <div class="photo-contents">
		  <div class="photo-title"> {{title}}</div> <!-- end of photo-title-->
            <div class="photo-image-container">
              <img src="{{photoURL}}" alt="Dog">
              <button id="love-button" class="action-button"><i class="fa fa-heart" aria-hidden="true"></i></button>
            </div>
            <div class="photo-tags-container">
              <a href="#" class="tag">[[Tag1]]</a>
              <a href="#" class="tag">[[Tag2]]</a>
              <a href="#" class="tag">[[Tag3]]</a>
            </div>
          </div>
        </div>