<div class="photo-container">
          <div class="photo-contents">
		  <div class="photo-title"> {{title}}</div> <!-- end of photo-title-->
            <div class="photo-image-container">
              <img src="{{photoURL}}" alt="Dog">
            </div>
            <div class="love-button-container">
                <button class="love-button" value="0"><i class="fa fa-heart fa-lg" aria-hidden="true"></i></button>
                <span class="love-count" data-state="off">{{loveCount}}</span>
            </div>
          </div>
        </div>

        
